Theory/*/*.aux
Theory/*/*.log
Theory/*/*.nav
Theory/*/*.out
Theory/*/*.synctex.gz
Theory/*/*.toc
Theory/*/*.snm
Laboratory/*/*.aux
Laboratory/*/*.log
Laboratory/*/*.nav
Laboratory/*/*.out
Laboratory/*/*.synctex.gz
Laboratory/*/*.toc
Laboratory/*/*.snm
*.swp
